<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #54B4D3;">
  <div class="container-fluid">
    <a style="color: azure;" class="navbar-brand" href="#"> <i class="fa-solid fa-otter"></i> Llúdriga</a>
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="cadastro">
          <a style="color: azure;" class="nav-link active" aria-current="page" href="admin/livros"> <i class="fa-solid fa-book"></i> Livros</a>
          <a style="color: azure;"  class="nav-link" href="admin/autores"> <i class="fa-solid fa-user"></i> Autores</a>
          <a style="color: azure;" class="nav-link" href="admin/editoras"> <i class="fa-solid fa-pen-fancy"></i> Editoras</a>
        </div>
      </div>
    </div>
    <div class="alinharDireita">
      <a style="color: azure;" class="nav-link" href="login"> Sair <i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
  </div>
</nav>
